.table {
    tr {
        th {
            color: $text-gray;
            padding: 5px 5px;
            font-weight: 300;
            text-transform: uppercase;
            border-top: none;
        }
        td {
            color: $text-gray;
            padding: 13px 10px;
            border-top: none;
            &:nth-child(2) {
                color: $text-color;
            }
        }
    }
}

.small-colum {
    width: 1%;
}