<div class="card" (click)="openArtistModal()">
    <div class="card-img" *ngIf="artist.images.length" [ngStyle]="{'background-image': 'url(' + artist.images[0].url + ')'}"></div>
    <div class="card-img-default" *ngIf="!artist.images.length"></div>
    <div class="card-body text-center">
        <div class="artist-description">
            <h5 class="card-title">{{artist.name}}</h5>
            <p><span *ngFor="let genre of artist.genres; let i = index">{{genre}}{{i==(artist.genres.length-1)?'':','}}</span></p>
        </div>
        <span *ngIf="artistPopularity() != 'Hot';else hotArtist" class="badge badge-secondary">{{artistPopularity()}}</span>
        <ng-template #hotArtist>
            <span class="badge badge-primary"> <i class="fa fa-star" aria-hidden="true"></i> Hot</span>
        </ng-template>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <!-- <a href="{{artist.external_urls.spotify}}" class="btn btn-primary btn-sm">See More</a> -->
    </div>
</div>