<div class="card">
    <div class="card-img" *ngIf="track.album.images.length" [ngStyle]="{'background-image': 'url(' + track.album.images[0].url + ')'}"></div>
    <div class="card-img-default" *ngIf="!track.album.images.length"></div>
    <div class="card-body text-center">
        <h5 class="card-title">{{track.name}}</h5>
        <p><span *ngFor="let artist of track.artists">{{artist.name}}</span></p>
        <!-- <p>{{trackPopularity()}}</p> -->
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <!-- <a href="{{track.external_urls.spotify}}" class="btn btn-primary btn-sm">See More</a> -->
    </div>
</div>