<header>
    <app-nav-bar></app-nav-bar>
</header>
<main>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <app-search (result)="getResults($event)"></app-search>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row" *ngIf="type == 'album'">
            <div class="col-md-2" *ngFor="let album of results">
                <app-album [album]="album"></app-album>
            </div>
        </div>
    </section>
</main>